{% extends "base.html" %}
{% block content %}
  <h3 class="mb-3">Courses</h3>
  <ul class="list-group">
    {% for c in courses %}
      <li class="list-group-item d-flex justify-content-between">
        <span>{{ c['code'] }} — {{ c['title'] }}</span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
