{% extends "base.html" %}
{% block content %}
  <h3 class="mb-3">Users</h3>
  <ul class="list-group">
    {% for u in users %}
      <li class="list-group-item">{{ u['name'] }} <small class="text-muted">&lt;{{ u['email'] }}&gt;</small></li>
    {% endfor %}
  </ul>
{% endblock %}
